ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
}

.side-nav {
    width: 250px !important;
}

#logo-container {
    height: 80px;
    margin-bottom: 32px;
}

#logo-container:hover {
    background-color: transparent;
}

#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
}

/*  Offset other content*/
header, main, footer {
  padding-left: 250px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
